*.pyc
__pycache__/
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
*.cover
.hypothesis/
.pytest_cache/
.git/
.idea/
.vscode/
*.egg-info/
dist/
build/
*.log
*.out
runs/
wandb/
yolov5-7.0/*.pt
yolov5-7.0/runs/
